
    .title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .title h1{
        color: white
      
    }
    .logo{
        width: 25%;
        height: 13%;
        top: 0;
        left: 0;

    }

    .title h2{
        color: #ddd;
    }
    
    body {
        margin: 0px;
        padding: 350px;
        background-image: url('giphy.gif'),linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.5));
      
        background-size: contain;
        height: 100%;
        background-position: center;
        background-repeat: repeat;  
        

    }
.topnav{
    top: 0;
    right: 0;
    list-style-type: none;
     font-family: serif;
    width: 100%;
}
.topnav {
    position: absolute;
    background-color: rgb(10, 1, 29);
    overflow: hidden;
  }
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
   .topnav a.active {
    background-color: rgb(39, 181, 206);
    color: white;
  }
  .topnav .icon {
    display: none;
  }
  .profiles {
    display: flex;
    gap: 48px;
    justify-content: space-around;
    margin: 20px 80px;
  }
  
  .profile {
    flex-basis: 260px;
  }
  
  .profile .profile-img {
    height: 360px;
    width: 360px;
    border-radius: 50%;
    /* filter: grayscale(100%); */
    cursor: pointer;
    transition: 400ms;
  }
  .profile:hover .profile-img {
    filter: grayscale(0);
  }